{% include "shop_header.html" %}
  <div class="content">
      <div class="container">
        <div class="row" style="width:100%;">
          <section class="section featured-car" id="featured-car">
            <div class="container" style="width:100%;">
                <ul class="featured-car-list">
            {% for car in cars %}
           <li>

    <div class="featured-car-card">
        <figure class="card-banner">
            <img src="{{ url_for('static', filename=car.image_url) }}" loading="lazy" width="440" height="300" class="w-100">
        </figure>
        <div class="card-content">
          <div class="card-title-wrapper">
            <h3 class="h3 card-title">
              <a href="#" style="text-decoration: none;">{{car["model"]}}</a>
            </h3>
            <data class="year" value="2021">{{car["year"]}}</data>
          </div>
          <ul class="card-list">
            <li class="card-list-item">
              <ion-icon name="hardware-chip-outline"></ion-icon>
              Status: <span class="card-item-text">{{car["status"]}}</span>{% if car["status"] == "Not Available": %}❌{% else: %}✔️{% endif %}
            </li>
              <li class="card-list-item">
              <ion-icon name="hardware-chip-outline"></ion-icon>
              category: <span class="card-item-text">{{car["category"]}}</span>
            </li>
          </ul>
          <div class="card-price-wrapper">
            <p class="card-price">
              <strong>{{car["car_price"]}}</strong>$ / Day
            </p>
           {% if current_user.is_authenticated == True and current_user.role == "Admin" %}
               <a href="{{url_for('edit_car',item_index = car['car_id'])}}" >
            <button class="btn btn-car" style="color:white; background: var(--background, var(--carolina-blue));">Edit</button>
               </a>
              <form action="{{url_for('delete_car',item_index = car['car_id'])}}" class="w-45" method="post">
            <button class="btn btn-car" style="color:white; background: var(--background, var(--carolina-blue));">Delete</button>
              </form>
           {% endif %}
          </div>
        </div>
      </div>
           </li>
        {% endfor %}
         </ul>
      </div>
    </section>
    </div>
   </div>
 </div>
{% include "footer.html" %}
